**/node_modules
**/.DS_Store
cookies.txt
config.js
coverage
dist
**/.vite
incidentReports.md
architecture.md

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.nyc_output
